
.header {
  font-size: 800%;
  display:flex;
  justify-content: center;
}



.image-self {
  margin-top: 5em;
  margin-bottom: 6em;
  clip-path: polygon(28% 0, 62% 0, 84% 32%, 83% 69%, 66% 100%, 27% 100%, 27% 57%);
}




.end-dogs {
  display:flex;
}

.image-dog-emo{
  display: flex;
  clip-path: ellipse(50% 35% at 50% 50%);
}



.image-cat-kya {
  display: flex;
  margin-left: 15em;
  margin-bottom: 2em;
  clip-path: ellipse(40% 55% at 50% 50%);
}

.animate:hover {
  clip-path: ellipse(50% 50% at 50% 50%);
  opacity: 1;
}

.animate {
  display: flex;
  margin-top: 2em;
}

.stage1 {
  clip-path: ellipse(50% 50% at 50% 50%);
  opacity: 0.5;
  transition: opacity 1s ease-in; 
}

.stage2 {
  clip-path: ellipse(50% 50% at 50% 50%);
  opacity: 0.4;
  transition: opacity .75s ease-in; 
}
.stage3 {
  clip-path: ellipse(50% 50% at 50% 50%);
  opacity: 0.2;
  transition: opacity .5s ease-in;
}
.stage4 {
  clip-path: ellipse(50% 50% at 50% 50%);
  opacity: 0.1;
  transition: opacity .25s ease-in;
}

.intro-text {
  font-size: 2em;
  display: flex;
  width: 100%;
  margin-top: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  flex-direction: column;

}


.body-title {
  font-size: 500%;
  display: flex;
  margin-top: 3em;
  justify-content: center;
}

.body-text {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 5em;
  margin-bottom: 5em;

  margin-right: -10em;
}

.dog-mayo {
  margin-top: 4em;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.main-body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgb(0, 0, 0);
  color: antiquewhite;
}

.intro-dogs {
  font-size: 2em;
  display:flex;
  justify-content: center;
}

@media only screen and (max-width:800px) {
  .header {
    font-size: 400%;
  }
  .intro-text {
    font-size: 1em;
    display: flex;
    width: 80%;
    margin-bottom: 2em;
    flex-direction: column;
  
  }
  .image-self {
    display: flex;
    clip-path: polygon(28% 0, 62% 0, 84% 32%, 83% 69%, 66% 100%, 27% 100%, 27% 57%);
  }
  
  .body-title {
    font-size: 3em;
  }
  .intro-dogs {
    font-size: 1em;
  }
  .body-text {
    font-size: 1em;
  }
  .image-dog-emo {
    margin-left: 0;
  }
  .image-cat-kya {
    margin-left: 5em;
  }
  


}
