
button {
  width: 25%;
}
.contact {
  display: flex;
  flex-direction: column;
}


.group {
display: flex;
flex-direction: column;
}

.item {
  display: flex;
flex-direction: column;
}

/* ---  button visuals --- */
.btn{
font-family: Verdana, Geneva, Tahoma, sans-serif; 
font-size: 15px;
text-decoration: #fff;
margin: 10px;
padding: 5px;
border-radius: 6px;

}

.btn{
color: #fff;
background-color: #ff2b2b9d;
border-color: #f5363677;
}

.btn:hover{
background-color: #ff2b2b;
border-color: #f53636;
}

/*button class visual instructions for Github*/

.btn-github{
color: #fff;
background-color: #0000009d;
border-color: #00000077;
margin-right: 20px;
}

.btn-github:hover{
background-color: #000000;
border-color: #000000;
}

/*button class visual instructions for LinkedIn*/

.btn-linkedin{
color: #fff;
background-color: #0065fc9d;
border-color: #0044ff77;
margin-right: 20px;
}

.btn-linkedin:hover{
background-color: #0065fc;
border-color: #0044ff;
}

/* ---  small screen settings --- */

body {
margin: 0;
}

/* ---  Header Settings --- */



header {
  
background-color: rgb(0, 3, 197);
margin-bottom: 80px;
padding-bottom: 40px;
}

header h1 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 52px;
color: #fff;
text-align: center;
margin-top: 20px;
padding-top: 20px;
}

header nav {
display: flex;
justify-content: center;
}

header nav ul {
display: flex;
padding-left: 0;
list-style: none;
}

header nav ul li a {
font-family: Montserrat;
color: #fff;
text-decoration: none;
margin: 0 20px 0 0;
}
header nav ul li:last-child a {
margin-right: 0;
}

img.logo-img-second {
  display: flex;
  justify-content: left;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 6%;
  object-fit: cover;
}

img.logo-img-first {
  display: none;
  justify-content: left;
  clip-path: polygon(100% 0%, 49% 51%, 99% 99%, 99% 99%, 0 50%, 99% 0);
  width: 6%;
  object-fit: cover;
}

img.image-enhanced {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0%;
  margin-right: 5%;
  padding-right: 5%;
  width: 100%;
}

/* ---  Home Settings --- */

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home .item {
  display: flex;
  margin: 2%;
}

img.image-enhanced {
  display: flex;
  margin-top: 10%;
}

/* ---  About Settings --- */
.about-header {
 display: flex;
  flex-direction: center;
  flex-wrap: nowrap;
  justify-content: center;
  background-color:  #9c0202;
}

.about {
  color: white;
  background-color: #9c0202;
}

img.image-enhanced-dog {
  display: flex;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  width: 100%;
  margin: 0%;
}


.services {
  display: block;
  flex-direction: column;
  align-self: center;
  align-content: left;
}

/* ---  Portfolio Settings --- */


.portfolio-header {
  display: flex;
  flex-direction: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #acacac;
  margin-top: 8%;
  margin-bottom: 5%;
  padding: 15%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1%;
  background-color: #acacac;
}

img {
  width: 100%;
  margin-top: 2%;
  margin-right: 2%;
}

/* ---  Contact Settings --- */

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.contact-header{
  display: flex;
  flex-direction: center;
  flex-wrap: nowrap;
  justify-content: center;

}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}



.map {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

/* ---  footer settings --- */

footer p {
  color: #bdbdbd;
  text-align-last: center;
  margin-bottom: 0px;
  padding: 2%;
}

footer {
  margin: 0px;
  background-color: #0B1C51;
  background: #0B1C51;
  
}




/* ---  large screen settings --- */

@media all and (min-width: 800px) {
header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.group {
  display: flex;
  flex-direction: row;
  }


header h1 {
  font-size: 42px;
  margin: 14px 0;
  padding-top: 6px;
}

header nav {
  margin-top: 14px;
}

header nav ul li a:hover {
  color: #bdbdbd;
}

  .portfolio{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 85%;
      padding: 0% 5%;
      margin-top: 5%;
  }

  img {
      width: 100%;
  }

  /* Contact Form Design */
  .contact {
      display: flex;
      flex-direction: column;
  }    

  .map {
      display: flex;
      flex-direction: column;
      justify-content: right;
      width: 25%;
  }    

  form {
      display: flex;  
      flex-direction: column;
      padding-right: 8px;
      justify-content: left;
  }

  form label {
      display: flex;
  }

  form input, 
  form textarea {
      width: 100%;
      margin-bottom: 20px;
  }

  form textarea {
      height: 160px;
  }
  
  .portfolio{
       display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #acacac;
      margin-top: 8%;
      margin-bottom: 5%;
      padding: 10%;
  }

  button {
  width: 50%;
}

  img.image-enhanced-dog {
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 100%;
    margin: 20%;
  }


} 

@media all and (min-width: 1200px) {

  img.logo-img-second {
    display: none;
    justify-content: left;
    clip-path: polygon(0 0, 100% 50%, 0 99%, 0 99%, 59% 50%, 0% 0%);
    width: 6%;
    object-fit: cover;
  }

  img.logo-img-first {
    display: none;
    justify-content: left;
    clip-path: polygon(100% 0%, 49% 51%, 99% 99%, 99% 99%, 0 50%, 99% 0);
    width: 6%;
    object-fit: cover;
  }
}
